.git
.eggs
.cursor
.idea
*.log
*.db
*.db-shm
*.db-wal
*.pyc
/venv/
/output/
/public/
/baild/
/Download/
vitepress/pptink/docs/.vitepress/cache
vitepress/pptink/docs/.vitepress/dist
vitepress/pptink/node_modules
vuecode/psdtool.html
vuecode/vite.config.ts
app/WebGuiMain/utils/conf.py